/* CSS Original */
body {
    background-color: rgb(32, 33, 36);
    padding: 20px;
}

#title { 
    text-align: center;
    font-family: "Pacifico", cursive;
    font-weight: 800;
    font-style: normal;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    animation: rainbow 18s ease infinite;
    -webkit-background-clip: text;
    color: transparent;
}

/* CSS Customizado para a Pesquisa */
#search-form {
    position: relative;
    width: 30rem; /* Ajuste a largura conforme necessário */
    margin: 0 auto; /* Centraliza o formulário */
}

#search {
    height: 5rem; /* Altura do input */
    font-family: 'Lato', sans-serif; /* Fonte do input */
    border: 0; /* Remover bordas */
    color: #2f2f2f; /* Cor do texto */
    font-size: 1.8rem; /* Tamanho da fonte */
    outline: 0; /* Remover contorno */
    width: 100%; /* Largura total */
    background: #fff; /* Cor de fundo do input */
    padding: 0 1.6rem; /* Padding */
    border-radius: .7rem; /* Bordas arredondadas */
    appearance: none; /* Remover estilos padrões */
    transition: all .3s cubic-bezier(0, 0, 0.43, 1.49); /* Transição suave */
}

#search-btn {
    display: none; /* Ocultar inicialmente */
    position: absolute;
    top: 0;
    right: 0;
    width: 6rem; /* Largura do botão */
    font-weight: bold; /* Negrito */
    background: #57bd84; /* Cor de fundo do botão */
    border-radius: 0 .7rem .7rem 0; /* Bordas arredondadas */
}

/* Mostrar o botão quando o input não está vazio */
#search:not(:placeholder-shown) {
    width: calc(100% - 6rem); /* Ajustar largura do input */
    border-radius: .7rem 0 0 .7rem; /* Bordas arredondadas */
}

#search:not(:placeholder-shown) + #search-btn {
    display: block; /* Mostrar o botão */
}

/* Estilos de animação do título */
@keyframes rainbow { 
    0% { background-position: 0% 82%; }
    50% { background-position: 100% 19%; }
    100% { background-position: 0% 82%; }
}

.video-item {
    margin: 20px 0;
    background: rgb(42, 43, 46);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.video-title {
    font-size: 18px;
    margin: 10px 0;
}
