/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Título */
#title {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    margin: 20px 0;
}

/* Formulário de busca */
#search-form {
    margin: 20px;
}

#search {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 300px;
}

#search-btn {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #0056b3;
}

/* Lista de vídeos */
#video-list-container {
    margin: 20px auto;
    width: 90%;
}

.video-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.video-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Seção de debug */
#debug-container {
    margin: 20px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
}

#debug-log {
    white-space: pre-wrap;
    text-align: left;
}

/* Media query para telas menores que 768px */
@media (max-width: 768px) {
    #title {
        font-size: 2rem;
    }

    #search {
        width: 100%;
    }

    #video-list-container {
        width: 100%;
    }

    .video-title {
        font-size: 1.2rem;
    }
}

/* Media query para telas menores que 480px */
@media (max-width: 480px) {
    #title {
        font-size: 1.5rem;
    }

    #search-btn {
        padding: 10px;
        font-size: 0.9rem;
    }

    .video-item {
        padding: 5px;
    }

    .video-title {
        font-size: 1rem;
    }
}