.title {
    font-size: 50px;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #27BA59;
    text-align: center;
}
.voltar {
    font-size: 10px;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #1d8d42;
    text-align: center; 
}